{% extends "base.html" %}
{% block container %}
    <h3 class="page-header">用户</h3>
    <div id="datalist">

    </div>
    <div class="pagenation"></div>
{% end %}

{% block script %}
    <script type="text/javascript">
        var urls = {
            url_api_user:"{{ reverse_url('api-user') }}",
            url_api_user_detail:"{{ reverse_url('api-user-detail', 0) }}"
        };
    </script>
    <script type="text/javascript" src="{{ static_url('assets/admin-user.js') }}"></script>
{% end %}