<nav>
    <ul class="pagination">
        {% if is_pre %}
        <li>
          <a href="?p={{pageindex - 1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <a aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% end %}

        {% for page in range(1,page_number + 1) %}
        <li {% if page == pageindex %}class="active"{% end %}><a href="?p={{page}}">{{page}}</a></li>
        {% end %}

        {% if is_next %}
        <li>
          <a href="?p={{pageindex + 1}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <a aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% end %}
    </ul>
</nav>